footer {
    background: $background-footer;  
}

.footer-box {
    padding: 40px 0 45px;

    @media (min-width: 992px) {
        display: flex;
        align-content: flex-start;
        justify-content: center;
        padding: 50px 20px 55px;
    }

    @media (min-width: 1200px) {
        padding: 92px 20px 95px;
    }

    @media (min-width: 1400px) {
        padding: 92px 25px 95px;
    }

    .case-studios {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        margin: 0 auto;
        width: 80%;
        line-height: calc(30/20);

        @media (min-width: 768px) {
            width: 90%;
        }

        @media (min-width: 992px) {
            width: 300px;
            margin: 0 60px 0 0;
            padding: 0;
        }

        @media (min-width: 1200px) {
            font-size: 18px;
        }

        @media (min-width: 1400px) {
            min-width: 300px;
            margin: 0 105px 0 0;
            font-size: 20px;
        }

        h6 {
            padding: 0 0 20px;

            @media (min-width: 1400px) {
                padding: 0 0 28px;
            }
        }

        .specialized {
            max-width: 80px;
            padding: 10px 0;

            @media (min-width: 1400px) {
                padding: 31px 0 12px;
            }
        }

        p {
            padding: 0 0 15px;
        }

        a {
            font-weight: 600;
            line-height: calc(30/20); 
        }
    }

    .box-menu {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
        }

        @media (min-width: 992px) {
            width: 60%;
        }

        @media (min-width: 1200px) {
            width: 70%;
            margin: 0;
            flex-wrap: nowrap;
        }

        @media (min-width: 1400px) {
            width: 100%;
        }
    }

    .footer-menu {
        width: 80%;
        text-align: center;
        margin: 0 auto;       
        font-weight: 600;
        font-size: 5vw;
        line-height: 1; 

        @media (min-width: 768px) {
            width: 40%;
            text-align: left;
            font-size: 4vw;
            padding: 40px 0;
        }

        @media (min-width: 992px) {
            display: flex;
            padding: 0 0 50px;
            font-size: 20px;
        }

        @media (min-width: 1200px) {
            width: 187px;
            margin: 8px 0 0 34px;
        }

        p {
            padding: 20px 0 35px;

            @media (min-width: 992px) {
            padding: 0 0 23px;
            }
        }

        .menu {
            text-align: left;
            flex-direction: column;

            >li {
                font-weight: 400;            
                font-size: 4vw;
                line-height: calc(15/15);                 
                padding: 0 0 15px;

                @media (min-width: 768px) {
                    font-size: 14px;
                }

                @media (min-width: 992px) {
                    font-size: 15px;
                }
            }
        }
    }
}

.footer-info {
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }

    .info-box {
        border-top: 1px solid $black;
        font-size: 3vw;
        line-height: calc(15/12);

        @media (min-width: 768px) {
            justify-content: space-between;
            padding: 45px 0;
            font-size: 12px;
        }

        @media (min-width: 1400px) {
            max-width: 1290px;
            margin: 0 auto;
        }
    }

    .reserved {
        @media (min-width: 1400px) {
            padding: 0 78px 0 0;
        }
    }
}

.logo-box {
    @media (min-width: 992px) {
        display: flex;
        align-items: center;
    }

    .text-cont {
        @media (min-width: 992px) {
            width: 301px;
            margin: 0 0 0 14px;
        }
    }
    
    p {
        padding: 20px;
        
        @media (min-width: 768px) {
            padding: 6px 0 0;
        }
    }
}