#header {
    display: flex;
    position: relative;
    border-bottom: 2px solid $light-grey;
    z-index: 99;

    &:after {
        @media (max-width: 991px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: $white;
        }
    }
}

#opener {
    opacity: 0;
    position: absolute;
    visibility: hidden;

    &:checked {
        ~.header-bar {
            @media (max-width: 991px){
                top: 100%;
            }
        }

        +.opener {
            span{
                opacity: 0;
            }

            &:before {
                top: 50%;
                transform: translateY(-50%) rotate(405deg);
            }

            &:after {
                top: 50%;
                transform: translateY(-50%) rotate(-405deg);
            }
        }
    }
}

.opener {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid $black;
    position: relative;
    z-index: 2;

    @media (min-width: 768px) {
        width: 40px;
        height: 40px;
    }

    @media (min-width: 992px) {
        display: none;
    }

    &:before,
    &:after,
    span {
        display: block;
        content: '';
        font-size: 0;
        line-height: 0;
        height: 2px;
        position: absolute;
        left: 10%;
        right: 10%;
        background: $black;
        transition: all $speed;
    }

    &:before {
        top: 20%;
    }

    &:after {
        top: 75%;
    }

    span {
        top: 50%;
        transform: translateY(-50%);
    }
}

.header-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: -999px;
    background: $grey;
    padding: 15px;
    transition: top $speed;
    z-index: -1;

    @media (min-width: 992px) {
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        background: none;
        padding: 0;
        z-index: 1;
    }

    .btn {
        @media (min-width: 991px) {
            min-width: 120px;
        }
    }
}

.header-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-right: -5px;

    @media (min-width: 768px) {
        padding: 26px 0 24px;
    }

    .logotip {
        position: relative;
        z-index: 2;

        .loco {
            width: 75%;
            padding: 0 20px 0 0;

            @media (min-width: 768px) {
                width: 100%;
            }
        }
    }
}

.menu {
    font-size: 18px;
    line-height: calc(20/15);
    text-align: center;

    @media (min-width: 992px) {
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
    }

    li {
        padding: 0 15px;

        @media (min-width: 1200px) {
            padding: 0 30px;        
        }
    }

    a {
        color: $black;

        &:hover {
            color: $orange;
        }
    }
}