#header {
    display: flex;
    border-bottom: 2px solid $light-grey;
    font-size: 15px;
}
.header-panel {
    display: flex;
    align-items: center;
    padding: 26px 0 24px;
    .loco {
        padding: 0 20px 0 0;
    }
    .btn {
        margin: 0 0 0 10px;
    }
}
.header-bar {
    display: flex;
    flex-grow: 1;
    a {
        color: $black;    
        &:hover {
            color: $orange;
        }
    }
}
.menu {
    display: flex;
    li {
        padding: 0 30px;
    }
}
.btn-box {
    display: flex;
}