.main-poster {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 129px 0 168px;    
    .text-poster {
        width: 539px;
        font-size: 25px;
        line-height: 35px;
        .text-box {
            max-width: 471px;
        }
        h1 {
            font-size: 65px;
            line-height: 70px;    
        }
        p {
            margin: 50px 0;
        }
        .book {
            margin: 0 0 0 10px;
        }
        .btn-box {
            margin: 0 0 15px;
        }
        span {
            font-size: 15px;
        }
    }
    .poster {
        padding: 0 0 15px;
        img {
            min-width: 759px;
        }
    }
}
.main-line {
    background: $light-orange;
    .brand-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 108px 0 104px;
        .text-box {
            max-width: 720px;
            text-align: center;
        }  
        .brand-box {
            padding: 68px 0 0;
            .brands {
                display: flex;
                align-items: center;
                >li {
                    padding: 0 50px;
                }
            }
        }      
    }
}
.main-benefis {
    display: flex;
}
.info-box {
    display: flex;
    justify-content: center;    
    align-items: center;
    font-size: 20px;
    line-height: 30px;    
    padding: 90px 0 160px;
    .box-description {
        width: 660px;
        padding: 0 138px 0 0;
    } 
    .description {
        max-width: 500px;
        a {
            text-decoration: underline;
        } 
        p {
            padding: 30px 0;
        }
        .bolt {
            font-weight: 600;
            font-size: 20px;              
            text-decoration: none;
        }
    }
    .picture {
        width: 632px;
    }  
    &:nth-child(2n) {
        flex-direction: row-reverse;
        .box-description {
            padding: 40px 0 0 138px;
        }
        .description {
            max-width: 450px;
            h3 {
                padding: 0 70px 0 0;
            }
            p {
                padding: 30px 0 36px;
            } 
        }    
    }
}
.main-capabilities {
    background: $light-yellow;
    padding: 110px 0 72px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    h3 {
        padding: 0 0 79px;
    }
}
.box-capabilities {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    a {
        text-decoration: underline;
    }
    >li {
        width: calc(100%/3);
        padding: 0 60px 75px;
        .card_content {
            h4 {
                font-weight: 600;
                font-size: 25px;
                line-height: 35px;        
                padding: 26px 0 20px;
            }
        }
    }
}
.main-productivity {
    font-size: 20px;
    line-height: 30px;
    padding: 154px 0 187px;
    h3 {
        text-align: center;
        padding: 0 0 75px;
    }
    .box-capabilities {
        justify-content: center;
        .card_visual {
            height: 201px;
            img {
                vertical-align: text-top;
            }
        }
        .card_content {
            h4 {
                font-size: 30px;
                line-height: 40px;
                padding: 49px 0 34px;
            }
            p {
                padding: 0px 0 25px;   
            }
        }
        >li {
            width: 409px;
            padding: 0;
            margin: 0 16px;
        }
    }
}
.main-quote {
    background: $light-blue;
    font-size: 30px;
    line-height: 40px;
}
.box-quote {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 55px 0 105px;
    .quote {
        max-width: 930px;
        padding: 10px 23px 0 0;        
    }
    blockquote {
        margin: 0;
        padding: 0 0 23px;
    }
    address {
        font-family: 'Roboto';
        font-size: 15px;
        line-height: 25px;
        font-style: normal;
        p {
            padding: 0 0 7px;
        }
    }
}
.second {
    background: $light-brown;
    padding: 80px 0 83px;
    .recommend-box {
        display: flex;
        align-items: center;
    }
    .recommend {
        display: flex;
        align-items: center;
        min-height: 168px;
        font-size: 35px;
        line-height: 50px;    
        border-right: 1px solid $black;
        .text-cont {
            max-width: 461px;
            margin: 0 125px 0 70px;
        }
    }
    .marks {
        display: flex;
        >li {
            display: flex;
            flex-direction: column;            
            padding: 0 0 0 71px;
        }
        .name {
            padding: 4px 0 21px;
        }
        .stars {
            max-width: 128px;
            padding: 0 0 5px;
        }
        span {
            font-weight: 400;
            letter-spacing: 0.75px;            
            font-size: 15px;
            line-height: 25px;
            text-transform: uppercase;
        }
        a:hover {
            color: $white;
        }               
    }
}
.main-integrate {
    text-align: center;
    .adt {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 165px 0 162px;
        .text-cont {
            max-width: 790px;
        }
        p {
            padding: 0 126px 25px;
        }
        img {
            padding: 0 0 35px
        }
    }
}
.main-offer {
    background: $light-orange;
    font-size: 20px;
    .adt {
        padding: 119px 0 161px;
        p {
            padding: 32px 0 58px;
        }
    }
}