$white: #fff;
$black: #000;
$light-grey: #E5E5E5;
$orange: #FF6336;
$light-orange: #FF9C7D;
$light-yellow: #FFF8E4;
$light-blue: #C9E8F2;
$light-brown: #DABC98;
$background-footer: #EEEEEE;
$speed: .7s;